import("mboost")
import("gamboostLSS")

importFrom("stats", "coef", "dnorm", "lm", "optimize", "resid",
           "rnorm", "runif", "sd", "var",  "as.formula", "cor", 
           "plogis", "predict", "qlogis", "terms.formula")

export(BetaReg, 
       betaboost, 
       make_mboostform, 
       add_bolsform, 
       R2.betaboost, 
       LH.betaboost,
       ## further mboost/gamboostLSS functions to be re-exported
       confint.betaboost,
       predict.betaboost)

S3method(confint, betaboost)
S3method(predict, betaboost)
