import("mboost")
import("gamboostLSS")


importFrom("stats", "qlogis", "plogis", "optimize", "coef", 
           "as.formula", "terms.formula", "cor", "predict")


export(BetaReg, betaboost, make_mboostform, add_bolsform, R2.betaboost, LH.betaboost)